<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>this is AZEEM PAGE </h1>
    <center>
        <h1>
            <b>
            <ol>
                <li style="color: aqua;">
                <a href="{% url 'app1:asif' %}">navigation to azeem </a></li>
            
            
            <li style="color: blue;"> <a href="{% url 'app2:spvm' %}">navigation to spvm </a> </li>
            <li style="color: chartreuse;"><a href="{% url 'app2:jsp' %}">navigation to jsp </a></li>
            </ol>
            </b>

            </ol>
        </h1>
    </center>
</body>
</html>